**/.idea
#*/Cargo.lock
*/Cargo.lock*
**/*.iml
**/*.bsp
**/project
**/target
**/supply-chain
multee-java/src/main/resources/libmultee_jni.so
multee-golang/libmultee_cgo.a
multee-lib/src/tests.rs
sample/golang/go-sample
multee-lib/resources/*
test-data/*
trusted-sgx/sysroot*
*.drawio
**/*.history
container-build-cache/
artifactory
multee.cc
copyright
experiment
.publish*
.multee*
.sysroot*
test
docz
ttlv
#git update-index --assume-unchanged trusted-sgx/.cargo/config
trusted-sgx/.cargo/config
multee-server/KMIP.md
TODO.md
Cargo.tom*
Cargo.loc*
reown.sh
multee-lib/docs/
kmip.tgz
