[submodule "deps/bats-core"]
	path = deps/bats-core
	url = https://github.com/mul-tee-cc/bats-core.git
	branch = multee
        shallow = true
[submodule "deps/mbedtls"]
	path = deps/mbedtls
	url = https://github.com/mul-tee-cc/mbedtls.git
        branch = v2.28.3
        shallow = true
[submodule "deps/bytes"]
	path = deps/bytes
	url = https://github.com/mul-tee-cc/bytes.git
	branch = v1.8.0-no_std
        shallow = true
[submodule "deps/incubator-teaclave-sgx-sdk"]
	path = deps/incubator-teaclave-sgx-sdk
	url = https://github.com/mul-tee-cc/rust-sgx-sdk.git
	branch = multee
        shallow = true
[submodule "deps/incubator-teaclave-crates-9ca099c"]
	path = deps/incubator-teaclave-crates-9ca099c
	url = https://github.com/mul-tee-cc/incubator-teaclave-crates.git
	branch = multee
        shallow = true
[submodule "deps/bats-support"]
	path = deps/bats-support
	url = https://github.com/mul-tee-cc/bats-support.git
[submodule "deps/bats-assert"]
	path = deps/bats-assert
	url = https://github.com/mul-tee-cc/bats-assert.git
[submodule "deps/bats-file"]
	path = deps/bats-file
	url = https://github.com/mul-tee-cc/bats-file.git
